.text-center {
  text-align: center !important;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bs-chevron-up {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
}

.bs-chevron {
  border-style: solid;
  display: block;
  width: 9px;
  height: 9px;
  position: relative;
  border-width: 3px 0px 0 3px;
}

.form-group {
  margin-bottom: 1rem;
}

.bs-timepicker-field {
  width: 50px;
}

.text-center {
  text-align: center !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
